---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Your Weather Web">
	<main>
		<Header/>
		<h1 class="text-6xl font-bold text-center text-blue-200 mt-5">Weather.ing</h1>
	</main>
</Layout>	